.question-wrap
  .created-time
    =question.created_at
  .question-box
    .question-box__title
      =question.title
    .question-box__set
      .question-box__set__question
        =question.question
      .question-box__set__answer
        =question.answer
