.header
  %h1.header__title
    =link_to "MemoryApp", root_path, class:"header__title"
  %h1.header__title
    =page_title
  %ul.header__menu__list
    -if current_user
      %li.header__menu__list-login
      =link_to "ログアウト", logout_path, method: :delete ,class: "header__menu-login"
    -else
      %li.header__menu__list-login
        =link_to "ログイン", login_path ,class: "header__menu-login"
      %li.header__menu__list-login
        =link_to "新規会員登録", new_user_path ,class: "header__menu-login"
