.header {
  @include flex-spbet;
  height: 100px;
  width: 100%;
  border-bottom: solid 1px black;
  &__title {
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  &__title:hover {
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  &__menu {
    &__list {
      margin: 5px 10px 0 5px;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      & li {
        margin: 5px 0 5px 0px;
      }
    }
  }
}
