.question-wrap {
  @include flex-col-cen;
  padding: 0 calc(50% - 400px);
}
.created-time {
  width: 400px;
  margin-top: 20px;
}
.question-box {
  border: 1px solid $black;
  width: 800px;
  text-align: center;
  &__title {
    border-bottom: 1px solid $black;
  }
  &__set {
    @include flex;
    min-height: 100px;
    &__question {
      width: 50%;
      border-right: 1px solid $black;
    }
    &__answer {
      width: 50%;
    }
  }
}
