.error_explanation li {
  color: red;
}

.form-question-new {
  margin-top: 10px;
  label {
    font-size: 18px;
    font-weight: bold;
  }
}

.form-group-title {
  @include flex-cen;
  .label-title {
    padding-top: 10px;
    margin-right: 10px;
    line-height: 18px;
  }
  .form-caution {
    display: inline;
    font-size: 8px;
    padding-top: 20px;
  }
}
.form-group-set {
  @include flex-cen;
  margin-top: 30px;
  &__form {
    @include flex-col;
    width: 40%;
    margin-right: 10px;
  }
  .form-group {
    &__form {
      max-width: 360px;
      width: 100%;
      height: 120px;
      margin-right: 10px;
    }
    &__caution {
      display: inline;
      text-align: right;
      font-size: 8px;
    }
  }
}
.form-btn {
  margin: 10px;
  width: 60px;
  height: 40px;
  float: right;
}
.question-new-questions {
  margin-top: 60px;
  border-top: 3px solid $gray;
  @include flex-col-cen;
}
